<%= form_with(model: @question, class: 'form-horizontal', role: 'form') do |f| %>
    <div class="container-sindan">
        <div class="row">
            <div class="col-12">
                <p>Question1. お箏の曲</p>
            </div>

            <div class="sindanbotan">
        <%= f.submit "お箏の曲" %>
    </div>
            <div class="col-12">
                <p>Question2. ポップス</p>
            </div>
    </div>
    <div class="sindanbotan">
        <%= f.submit "ポップス" %>
    </div>
<% end %>
