<!DOCTYPE html> <!--　この文章がHTML文章であることを伝える要素です。-->
<html data-theme="retro">
  <div data-theme="retro">
    <span data-theme="retro"></span>
  </div>
</html>

    <body>
        <header>
            <h1 class="headline">
            </h1>
            <ul class="nav-list">
            <li class="nav-list-item">
            <%= link_to '診断スタート', diagnoses_path, class: "btn btn-primary" %>
            </li>
            </ul>
        </header>

        <div class="start">
            <h6>おことの情報</h6>
            <%= link_to "ことについて", okotos_path , class: "btn btn-secondary" %>
            <%= link_to "おことの演奏技法", plays_okotos_path , class: "btn btn-secondary" %>
        </div>
        <div class="p-4">
  <button class="btn btn-primary">primary</button>
  <button class="btn btn-secondary">secondary</button>
  <button class="btn btn-secondary">accent</button>
</div>
    </body>
