<!DOCTYPE html> <!-- この文章がHTML文章であることを伝える要素です。 -->
<html data-theme="valentine">
  <head>
    <title>おこと診断</title> <!-- タイトルを追加しておくといいナ -->
  </head>
  <body>
    <header class="p-4">
      <div class="container mx-auto text-center">
        <h1 class="text-4xl">おこと診断</h1>
      </div>
    </header>
    
    <div class="p-4">
    <div class="container mx-auto text-center">
      <%= link_to '診断スタート', diagnoses_path, class: "btn btn-primary" %>
      
      <h6 class="text-2xl p-4">おことの情報</h6>
      <%= link_to "ことについて", okotos_path , class: "btn btn-secondary" %>
      <%= link_to "おことの演奏技法", plays_okotos_path , class: "btn btn-accent" %>
    </div>
    </div>
  </body>
</html>
