<div style="background-image: url('<%= asset_path('umeki.png') %>'); background-repeat: repeat;">
  <div class="container mx-auto text-center">
    <div class="p-4">
      <h1 class="text-4xl p-4">アプリの使い方</h1>
      <p class="text-2xl p-4">診断スタートを押して聞きたいジャンルを選びます</p>
      <a href="https://gyazo.com/c752abcc59415599afb056066ecdbac9">
        <img src="https://i.gyazo.com/c752abcc59415599afb056066ecdbac9.gif" alt="Image from Gyazo" class="mx-auto w-[300px] sm:w-[500px]"/>
      </a>
      <h2 class="text-4xl p-4">ログイン後にできること</h2>
      <p class="text-2xl p-4">１　ラインの友達登録をして通知を受け取る</p>
      <img src="/assets/botannn.png" class="mx-auto w-[300px] sm:w-[500px]" />
      <p class="text-2xl p-4">２　良きボタンをおしてランキングに反映（良きボタンはログイン後にしかでてきません）</p>
      <a href="https://gyazo.com/28add6c5b5006e62fd8c53b7c8b9ddc7">
      <img src="https://i.gyazo.com/28add6c5b5006e62fd8c53b7c8b9ddc7.gif" alt="Image from Gyazo", class="mx-auto w-[300px] sm:w-[500px]"/></a>
      <div class="mt-4">
        <% if logged_in? %>  <!-- ユーザーがログインしているか確認 -->
          <%= link_to 'トップページに戻る', after_login_path, class: "btn bg-silver" %>
        <% else %>
          <%= link_to 'トップページに戻る', root_path, class: "btn bg-silver" %>
        <% end %>
      </div>      
    </div>
  </div>
</div>
