<div class="bg-mobile2 md:bg-desktop2 bg-cover bg-center w-full h-screen">
<div class="p-4">
<div class="container mx-auto text-center">
  <%= form_with model: @diagnosis, url: diagnoses_path, local: true do |form| %>
    <% form.hidden_field :id %>
    <% form.text_field :title %>
    <div class="text-center">
    <h3 class="text-xl p-4">Q.1 どちらの音楽がききたいですか？</h3>
    </div>
    <% Diagnosis.where(id: [1, 2]).each do |diagnosis| %>
      <label>
        <%= link_to diagnosis.title, diagnosis_path(id: diagnosis.id), class: "btn bg-silver" %>
      </label>
    <% end %>
  <% end %>
</div>
</div>
</div>
 