<!DOCTYPE html>

<html data-theme="valentine">
  <head>
    <title>おことの情報</title> <!-- タイトルを追加しておくといいナ -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet"> <!-- 必要に応じてCSSをリンクするカ -->
  </head>

  <body>
    <div class="container mx-auto text-center">
      <div class="p-4">
        <h1>楽器の説明</h1>
        <h2>おことで使う道具</h2>
        <h3>楽譜</h3>
      </div>
    </div>
  </body>
</html>
