<!DOCTYPE html>

<html>
  <head>
    <title>おことの演奏技法</title>
  </head>

  <body>
  <div style="background-image: url('<%= asset_path('orenjisakura.jpg') %>');background-repeat: repeat;">
  <div class="container mx-auto text-center">     
    <h1 class="text-2xl p-4 text-center">おことの演奏技法</h1>  
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4"> <!-- モバイルでは1列、画面が広がると2列 --> 
        <div class="p-4">
          <p class="text-lg p-4">合せ爪</p>
          <iframe
            class="mx-auto youtube"
            src="https://www.youtube.com/embed/m95cMsPFUbI?"
            title="箏を弾こう　奏法編　合せ爪"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen>
          </iframe>
        </div>

        <div class="p-4">
          <p class="text-lg p-4">押し手</p>
          <iframe
            class="mx-auto youtube"
            src="https://www.youtube.com/embed/xvuXN1jjPMk?"
            title="箏を弾こう　奏法編　押し手"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen>
          </iframe>
        </div>
        <div class="p-4">
          <p class="text-lg p-4">スクイ爪</p>
            <iframe
              class="mx-auto"
              src="https://www.youtube.com/embed/i2TmmUxMaYQ?" 
              title="箏を弾こう　奏法編　スクイ爪" 
              frameborder="0" 
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
              referrerpolicy="strict-origin-when-cross-origin" 
              allowfullscreen>
            </iframe>
        </div>

        <div class="p-4">
          <p class="text-lg p-4">掻（か）き爪</p>
            <iframe
              class="mx-auto"
              src="https://www.youtube.com/embed/BMnSnJ7O_U4?" 
              title="箏を弾こう　奏法編　掻き爪" 
              frameborder="0" 
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
              referrerpolicy="strict-origin-when-cross-origin" 
              allowfullscreen>
            </iframe>
          </div>

          <div class="p-4">
          <p class="text-lg p-4">割り爪</p>
            <iframe
              class="mx-auto"
              src="https://www.youtube.com/embed/gg584kPVH7E?" 
              title="箏を弾こう　奏法編　割り爪" 
              frameborder="0" 
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
              referrerpolicy="strict-origin-when-cross-origin" 
              allowfullscreen>
            </iframe>
          </div>

          <div class="p-4">
          <p class="text-lg p-4">トレモロ</p>
            <iframe
              class="mx-auto"
              src="https://www.youtube.com/embed/_5sZQF2DUxk?" 
              title="箏を弾こう　奏法編　トレモロ" 
              frameborder="0" 
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
              referrerpolicy="strict-origin-when-cross-origin" 
              allowfullscreen>
            </iframe>
          </div>


        <div class="p-4">
          <p class="text-lg p-4">ピッツィカート</p>
            <iframe
              class="mx-auto"
              src="https://www.youtube.com/embed/kjNSM7BJ1G8?" 
              title="箏を弾こう　奏法編　ピッツィカート" 
              frameborder="0" 
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
              referrerpolicy="strict-origin-when-cross-origin" 
              allowfullscreen>
            </iframe>
          </div>

          <div class="p-4">
          <p class="text-lg p-4">後押し</p>
            <iframe
              class="mx-auto"
              src="https://www.youtube.com/embed/gpNwYdFh-kQ?" 
              title="箏を弾こう　奏法編　後押し" 
              frameborder="0" 
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
              referrerpolicy="strict-origin-when-cross-origin" 
              allowfullscreen>
            </iframe>
          </div>

          <div class="p-4">
          <p class="text-lg p-4">突き色</p>
            <iframe
              class="mx-auto"
              src="https://www.youtube.com/embed/LEqUWC3gb0k?" 
              title="箏を弾こう　奏法編　突き色" 
              frameborder="0" 
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
              referrerpolicy="strict-origin-when-cross-origin" 
              allowfullscreen>
            </iframe>
          </div>
          
          <div class="p-4">
          <p class="text-lg p-4">引き連</p>
            <iframe
              class="mx-auto"
              src="https://www.youtube.com/embed/9w0DmAKYp6A?" 
              title="箏を弾こう　奏法編　引き連" 
              frameborder="0" 
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
              referrerpolicy="strict-origin-when-cross-origin" 
              allowfullscreen>
            </iframe>
          </div>

          <div class="p-4">
          <p class="text-lg p-4">裏連</p>
          <iframe
            class="mx-auto"
            src="https://www.youtube.com/embed/75PBl2Qd_Vk?" 
            title="箏を弾こう　奏法編　裏連" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            referrerpolicy="strict-origin-when-cross-origin" 
            allowfullscreen>
          </iframe>
          </div>

          <div class="p-4">
          <p class="text-lg p-4">散らし爪</p>
            <iframe
              class="mx-auto"
              src="https://www.youtube.com/embed/AaYubl1zu8A?" 
              title="箏を弾こう　奏法編　散らし爪" 
              frameborder="0" 
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
              referrerpolicy="strict-origin-when-cross-origin" 
              llowfullscreen>
            </iframe>
          </div>

          <div class="p-4">
          <p class="text-lg p-4">流し爪</p>
            <iframe
              class="mx-auto"
              src="https://www.youtube.com/embed/zSu1nfeK5O0?" 
              title="箏を弾こう　奏法編　流し爪" 
              frameborder="0" 
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
              referrerpolicy="strict-origin-when-cross-origin" 
              allowfullscreen>
            </iframe>
          </div>

          <div class="p-4">
          <p class="text-lg p-4">引きいろ</p>
            <iframe
              class="mx-auto"
              src="https://www.youtube.com/embed/NZZhL8vJ6HY?"
            　title="箏を弾こう　奏法編　引き色"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
              referrerpolicy="strict-origin-when-cross-origin" 
              allowfullscreen>
            </iframe>
          </div>

          <div class="p-4">
          <p class="text-lg p-4">輪連</p>
            <iframe
              class="mx-auto"
              src="https://www.youtube.com/embed/SwjPDCsPRk0?" 
              title="箏を弾こう　奏法編　輪連" 
              frameborder="0" 
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
              referrerpolicy="strict-origin-when-cross-origin" 
              allowfullscreen>
            </iframe>
          </div>

          <div class="p-4">
          <p class="text-lg p-4">アルペッジョ</p>
            <iframe
              class="mx-auto"
              src="https://www.youtube.com/embed/ywrgPnq4ykE?" 
              title="箏を弾こう　奏法編　アルペッジョ" 
              frameborder="0" 
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
              referrerpolicy="strict-origin-when-cross-origin" 
              allowfullscreen>
            </iframe>
          </div>
        </div>  
          <div class="mt-4">
            <% if logged_in? %>  <!-- ユーザーがログインしているか確認 -->
              <%= link_to 'トップページに戻る', after_login_path, class: "btn bg-silver" %>
            <% else %>
              <%= link_to 'トップページに戻る', root_path, class: "btn bg-silver" %>
            <% end %>
          </div>
    </div>
  </div>
  </body>
</html>
