<!DOCTYPE html>

<html data-theme="valentine">
  <head>
    <title>おことの演奏技法</title> <!-- タイトルを追加しておくといいナ -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet"> <!-- 必要に応じてCSSをリンクするカ -->
  </head>

  <body>
    <div class="container mx-auto text-center">
      <div class="p-4">
        <h1 class="text-2xl p-4">おことの演奏技法</h1>
      </div>
    </div>
  </body>
</html>
  
