<header>
<div class="bg-pinku flex flex-row justify-between items-center  text-white w-full h-16">
<div class="pl-4">

</div>
    <div class="w-full flex justify-center"> <!-- ここを変更 -->
      <div class="p-4">
     

      </div>
    </div>
  </div>
</header>
