<header>
  <div class="bg-pinku flex flex-col justify-between items-center h-24 content-end">
    <div class="w-full flex justify-center"> <!-- ここを変更 -->
      <div class="p-4">

      </div>
    </div>
  </div>
</header>
