<header>
  <div class="bg-pinku flex flex-col justify-between items-center h-24 content-end">
    <div class="w-full flex justify-center"> <!-- ここを変更 -->
      <div class="p-4">
        <div class="btn btn-neutral text-xl">
            <%= link_to "https://twitter.com/share?url=https://www.okotoshindan.com//&text=【お箏診断】
            診断をしてあなたの聞きたいお箏の曲を聞けます♪お箏の曲は眠たくない曲もたくさんありますよ！！", 
            target: '_blank', title: "Xでシェア" do %>
            アプリをXでシェアする
            <% end %>
        </div>
        <%= link_to "LINEでログイン", line_login_api_login_path, class: "btn glass" %>
      </div>
    </div>
  </div>
</header>

