<footer>
  <div class="bg-customGreen5 flex flex-col justify-between items-center h-24 content-end">
    <!-- nav - start -->
    <nav class="flex flex-wrap justify-center gap-x-4 gap-y-2 md:justify-start mt-6 text-customGreen6">
      <%= link_to "お問い合わせ", "https://docs.google.com/forms/d/e/1FAIpQLScYTq6SwmWJ4tx2pL3SCVIVtnz2HVyGQXdsFK83WwDXi_WnKA/viewform?embedded=true", target: "_blank", rel: "noopener" %>
    </nav>
    <!-- nav - end -->
    <div class="text-center text-sm text-teal-950 mb-2">© 2024 -  rights reserved.</div>
  </div>
</footer>
