<header>
  <div class="bg-pinku flex flex-col justify-between items-center h-24 content-end">
    <div class="w-full flex justify-center"> <!-- ここを変更 -->
      <div class="p-4">
        <div class="btn text-xl ">
          <%= link_to "https://twitter.com/share?url=https://www.okotoshindan.com/&text=【お箏診断】診断をしてあなたの聞きたいお箏の曲を聞けます♪お箏の曲は眠たくない曲もたくさんありますよ！！", 
            target: '_blank', title: "Xでシェア" do %>
            アプリをXでシェアする
          <% end %>
        </div>
          <%= link_to 'ログアウト', line_login_api_destroy_path,data: { turbo_method: :delete }, class: "btn bg-line" %>
        <% current_user = User.find_by(id: session[:user_id]) %>
        <details class="dropdown" style="margin-left: auto;">
          <summary class="btn m-1">プロフィール</summary>
          <ul class="menu dropdown-content bg-base-100 rounded-box z-[1] w-52 p-2 shadow">
            <li><a>ID: <%= current_user.id %></a></li>
            <li><a>LINEユーザー名: <%= current_user.name %></a></li>
          </ul>
        </details>
      </div>
    </div>
  </div>
</header>
